
.text-center {
  text-align: center;  
}

section[data-section-id="67588da77c1cc114d9cbff7f"] {
  // padding-top: 12%;
  // height: 100vh;
  
  .bg-movie video {
    width: 100%;
    // margin: -9% 0;
    background: rgba(0, 0, 0, .2);
  }
  svg.wave {
    position: absolute;
    bottom: -1px;
    z-index: 100;
  }
}

/* video Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 48rem;
  background: #fff;
  border-radius: 0.25rem;
  margin: 0 auto;
  margin-top: 1.25rem;
}

.modal-footer {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.btn.modal-close {
  border: none;
  padding: 7px 15px;
  border-radius: 30px;
  font-display: optional;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  background: none;
  cursor: pointer; 
}

.modal iframe {
  width: 100%;
  height: 100%;
}